
# Ignore all JavaScript files
*.js

# Ignore all text files
*.txt

# Ignore all HTML files
*.html

# But do not ignore index.html
!index.html


# Ignore all CSS files
*.css

# Ignore all XML files
*.xml

